<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="60">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="com.anz.flow.test" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.anz.common.test" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>